<!DOCTYPE html>
<html>
  <head>
    <title>WebPages09</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">

    <nav class="navbar " >
      <div class="container navbar_color d-flex justify-content-center ">
        <a href="<%= root_path %>">
          <%# <%= cl_image_tag("kg9rqjegui9axvaqijpz", width: 400, height: 300, crop: :fill) %>
          <%# <%= cl_image_tag("kg9rqjegui9axvaqijpz", width: 50, height: 50, crop: :fill) %> %> %>
        </a>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
